<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
   <h2>Add User</h2>
   <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
         <label>First Name</label>
         <input type="text"  
            [(ngModel)]="user.firstName" 
            [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
            class="form-control" 
            name="firstName"
            #userFirstName="ngModel"
            required
            minlength="2"
            >
         <div [hidden]="!userFirstName.errors?.required" 
            class="invalid-feedback">
            First Name Required
         </div>
         <div [hidden]="!userFirstName.errors?.minlength" 
            class="invalid-feedback">
            Must be at least 2 characters
         </div>
      </div>
      <div class="form-group">
         <label>Last Name</label>
         <input type="text"  
            [(ngModel)]="user.lastName" 
            [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
            class="form-control" 
            name="lastName"
            #userLastName="ngModel"
            required
            minlength="2"
            >
         <div [hidden]="!userLastName.errors?.['required']" 
            class="invalid-feedback">
            Last Name Required
         </div>
         <div [hidden]="!userLastName.errors?.minlength" 
            class="invalid-feedback">
            Must be at least 2 characters
         </div>
      </div>
      <div class="form-group">
         <label>Email</label>
         <input type="text"  
            [(ngModel)]="user.email" 
            [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
            class="form-control" 
            name="email"
            #userEmail="ngModel"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
         <div [hidden]="!userEmail.errors?.required" 
            class="invalid-feedback">
            Email Address Required
         </div>
         <div [hidden]="!userEmail.errors?.pattern" 
            class="invalid-feedback">
            Email address is not valid
         </div>
      </div>
      <button  [disabled]="!userForm.form.valid" class="btn btn-block mb-3" >Add New User</button>
   </form>
</div>

<h2>Users</h2>
<!-- <ul *ngIf="users.length > 0"> -->
<ul class="list-unstyled" *ngIf="users.length > 0; else noUsers">
   <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive"
      [style.border-color]="user.isActive ? 'green' : ''">
      <h3>{{ user.firstName }} {{ user.lastName }}
         <small><button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
            <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
         </button></small>
      </h3>
      <ul class="list-group" *ngIf="!user.hide">
         <li class="list-group-item">Email: {{ user.email }}</li>
         <li class="list-group-item">Joined: {{ user.registered | date:"longDate" }}</li>
      </ul>


   </li>
</ul>

<ng-template #noUsers>
   <h4>NO Users Found</h4>
</ng-template>
